@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #171d1f;
    color: #fff;
    font-weight: 300;
}

h1{
    font-family: 'Raleway', sans-serif;
}

/* clases */
.naranja{
    font-size: 36px;
    color: salmon;
}

#verde{
    color: rgb(114, 250, 166);
}
