@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #707070;
}

/* globales */
a{
    text-decoration: none;  /* quita el subrayado */
}


header{
    width: 1100px;
    margin: auto; /* centrar la caja */
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* centrar en vertical contenido */
    align-items: center;
}
    header a img{
        width: 60px;
        vertical-align: middle;
        margin-right: 16px;
    }
    header a{
        color: #707070;
        font-weight: 600;
    }
    nav a{
        padding: 12px;
    }

/* hero-banner */

#hero-banner{
    height: 500px;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -120px;
}

    #hero-banner div{
        width: 1100px;
        margin: auto;
        padding-top: 140px;
    }

    h1{
        font-size: 40px;
        font-weight: 600;
        color: #FFB968;
    }
    #hero-banner div p{
        width: 400px;
        margin-top: 24px;
    }
